.header {
    margin-top: 8px;
    margin-bottom: 6px;
    -unity-font-style: bold;
    margin-right: 0;
    margin-left: 3px;
}

.sub-header {
    -unity-font-style: bold;
    margin-top: 4px;
    margin-bottom: 3px;
    margin-right: 0;
    margin-left: 3px;
}

.property-container {
    padding-left: 12px;
}
